# Task 3

In [5]:
# 1. Create a list of 10 elements of four different data types like int, string, complex and float.

l = [1,1.12, 1+5j,'tanay',1,1.12,1 + 5j,'tanay',1,1.12,1 + 5j,'tanay']
l

[1, 1.12, (1+5j), 'tanay', 1, 1.12, (1+5j), 'tanay', 1, 1.12, (1+5j), 'tanay']

In [6]:
# 2. Create a list of size 5 and execute the slicing structure
l = [10,20,30,40,50]
l[0]

10

In [13]:
#3. Write a program to get the sum and multiply of all the items in a given list.
l = [10,20,30]
i = 0
m = 0
a = 0
while i < len(l)-1:
    m = l[i]*l[i+1]
    a = l[i]+l[i+1]
    i+=1

print('Multiplication: ',m)
print('Addition: ',a)

Multiplication:  600
Addition:  50

In [15]:
#4. Find the largest and smallest number from a given list.
l = [10,20,30,40,50]
print(min(l))
print(max(l))

10
50

In [22]:
# 5. Create a new list which contains the specified numbers after removing the even numbers from a predefined list.

l = list(range(1,51))
odd = []
for i in l:
    if i%2!=0:
        odd.append(i)
print(odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [33]:
#6. Create a list of elements such that it contains the squares of the first and last 5 elements between
# 1 and 30 (both included).

l = list(range(1,31))
square = []
j = -10
for i in l:
    if (j in range(-5,0)) or (j in range(0,5)):
        square.append(l[j]**2)
    j +=1
print(sorted(square))

[1, 4, 9, 16, 25, 676, 729, 784, 841, 900]

In [35]:
#7. Write a program to replace the last element in a list with another list.
#Sample input: [1,3,5,7,9,10], [2,4,6,8]
#Expected output: [1,3,5,7,9,2,4,6,8]

l = [1,3,5,7,9,10]
b = [2,4,6,8]

l[-1:] = b

print(l)

[1, 3, 5, 7, 9, 2, 4, 6, 8]

In [40]:
# 8. Create a new dictionary by concatenating the following two dictionaries:
#Sample input: a={1:10,2:20} b={3:30,4:40}
#Expected output: {1:10,2:20,3:30,4:40}

a = {1:10,2:20}
b = {3:30,4:40}

for i in b.keys():
        a[i]=b[i]
print(a)

{1: 10, 2: 20, 3: 30, 4: 40}

In [47]:
#9. Create a dictionary that contain numbers in the form(x:x*x) where x takes all the values between 1
#and n(both 1 and n included).
#Sample input: n=5
#Expected output: {1:1, 2:4, 3:9, 4:16, 5:25}

a = {}
n = range(1,(int(input('Specify the range you want to see the squares of: ')))+1)
for i in n:
    a[i] = i**2

print(a)

Specify the range you want to see the squares of: 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [52]:
#10. Write a program which accepts a sequence of comma-separated numbers from console and
#generates a list and a tuple which contains every number in the form of string.
#Sample input: 34,67,55,33,12,98
#Expected output: [‘34’,’67’,’55’,’33’,’12’,’98’] (‘34’,’67’,’55’,’33’,’12’,’98’)

m = input('Please enter all the number here: ')
l = m.split(',')
t = tuple(l)

print(l)
print(t)

Please enter all the number here: 34,67,55,33,12,98
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

# Task 4

In [72]:
#1. Write a program to reverse a string.
#Sample input: “1234abcd”
#Expected output: “dcba4321”
a = '1234abcd'
b = ''
for i in range(len(a)-1,-1,-1):
    b += a[i] 
print(b)

# OR

a[::-1]

dcba4321

'dcba4321'

In [80]:
# 2. Write a function that accepts a string and prints the number of uppercase letters and lowercase letters.
#Sample input: “abcSdefPghijQkl”
#Expected Output: No. of Uppercase characters : 3 No. of Lower case Characters : 12

def char(a):
    Low = 0
    Upp = 0
    for i in a:
        if i.islower():
            Low+=1
        elif i.isupper():
            Upp+=1

    print(' No. of Uppercase characters: ', Upp, ' ', 'No. of Lower case Characters :', Low)
    
enter = input('Please enter the string here: ')
char(enter)

Please enter the string here: abcSdefPghijQkl
 No. of Uppercase characters:  3   No. of Lower case Characters : 12

In [81]:
# 3. Create a function that takes a list and returns a new list with unique elements of the first list.
def unique_list(a):
    return(list(set(a)))

unorganized_list = [1,2,3,4,5,5,3,4,6]
unique_list(unorganized_list)

[1, 2, 3, 4, 5, 6]

In [86]:
# 4. Write a program that accepts a hyphen-separated sequence of words as input and prints the words
# in a hyphen-separated sequence after sorting them alphabetically.

hypen_words = input("Enter a hyphen-separated sequence of words: ")

words = hypen_words.split("-")
sorted_words = sorted(words)

output_sequence = "-".join(sorted_words)

print("Sorted sequence:", output_sequence)

Enter a hyphen-separated sequence of words: efgh-abcd
Sorted sequence: abcd-efgh

In [88]:
#5. Write a program that accepts a sequence of lines as input and prints the lines after making all
#characters in the sentence capitalized.

words = input("Enter words: ")
capital = words.upper()
print(capital)

Enter words: Hello world Practice makes man perfect
HELLO WORLD PRACTICE MAKES MAN PERFECT

In [90]:
#6. Define a function that can receive two integral numbers in string form and compute their sum and
#print it in the console.

nums = input("Enter 1st no. "), input("Enter 2nd no. ")
print('sum of the nos.', int(nums[0])+int(nums[1]))

Enter 1st no. 4
Enter 2nd no. 8
sum of the nos. 12

In [96]:
# 7. Define a function that can accept two strings as input and print the string with the maximum length
#in the console. If two strings have the same length, then the function should print both the strings line
#by line.

def compare(a,b):
    if len(str1) > len(str2):
        print(str1)
    elif len(str1) == len(str2):
        print(str1)
        print(str2)
    else:
        print(str2)
    

str1 = input("Enter 1st String to compare: ")
str2 = input("Enter 2nd String to compare: ")
compare(str1,str2)

Enter 1st String to compare: 1234567
Enter 2nd String to compare: 12345
1234567

In [107]:
#8. Define a function which can generate and print a tuple where the values are square of numbers
#between 1 and 20 (both 1 and 20 included).

def square_tpl():
    j = range(1,21)
    k = []
    for i in j:
        square = i**2
        k.append(square)
    print(tuple(k))

square_tpl()

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400)

In [114]:
#9. Write a function called showNumbers that takes a parameter called limit. It should print all the
#numbers between 0 and limit with a label to identify the even and odd numbers.

def showNumber(limit):
    j = range(0,limit+1)
    for i in j:
        if i==0:
            print(i, ' Even')
        elif i%2 ==0:
            print(i, ' Even')
        else:
            print(i, ' Odd')

a = int(input('Please enter your limit: '))
showNumber(a)

Please enter your limit: 3
0  Even
1  Odd
2  Even
3  Odd

In [115]:
#10. Write a program which uses filter() to make a list whose elements are even numbers between 1
#and 20 (both included)

even = list(filter(lambda x: x % 2 == 0, range(1, 21)))
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [118]:
#11. Write a program which uses map() and filter() to make a list whose elements are squares of even
#numbers in [1,2,3,4,5,6,7,8,9,10].
#Hints: Use filter() to filter even elements of the given listUse map() to generate a list of squares of the
#numbers in the filtered list. Use lambda() to define anonymous functions.

l = [1,2,3,4,5,6,7,8,9,10]
even = list(filter(lambda x: x % 2 == 0, l))
square = list(map(lambda x: x**2, even))
print(square)

[4, 16, 36, 64, 100]

In [121]:
#12. Write a function to compute 5/0 and use try/except to catch the exceptions
i = 5
j = 0
try:
    print(i/j)
except ZeroDivisionError:
    print("N/A")

N/A

In [128]:
#13. Flatten the list [1,2,3,4,5,6,7] into 1234567 using reduce().

from functools import reduce

l = [1,2,3,4,5,6,7]
fl = reduce(lambda x, y: int(str(x)+str(y)), l)
print(fl)

1234567

In [135]:
#14. Write a program in Python to find the values which are not divisible by 3 but are a multiple of 7.
# Make sure to use only higher order functions.

k = int(input('Please define a range: '))
h = []
f = []
j = range(1,k)
for i in j:
    if i < 7:
        f.append('')
    elif (i%3!=0 and i%7==0):
        h.append(i)

print(h)

Please define a range: 70
[7, 14, 28, 35, 49, 56]

In [137]:
# 15. Write a program in Python to multiply the elements of a list by itself using a traditional function
# and pass the function to map() to complete the operation.

def multiply(num):
    return num * num

l = [1, 2, 3, 4, 5]

new_numbers = list(map(multiply, l))
print(new_numbers)

[1, 4, 9, 16, 25]

## #16 Code outputs

### (i) 

    The output should be 2

### (ii)

    This should give an error since we have not defined x